@font-face {
    font-family: 'Better Grade';
    src: url('BetterGrade.woff2') format('woff2'),
        url('BetterGrade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

