* {
  box-sizing: border-box;
}

body {
    background: linear-gradient(#000000, transparent 50%),
                linear-gradient(0deg, #000000, transparent 75%),
                url("./landscape.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    /*font-family: 'Josefin Slab', serif;*/
    font-family: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.button {
    border-radius: 10px;
    width: 20%;
    height: auto;
    transition: width .5s;
}

.button:hover {
    width: 25%;
}

.down {
    width: 5%;
    margin-top:25px;
    transition: all 0.25s;
}

.down:hover {
    width: 6%;
}

header {
    min-height: 100vh;
    margin-top: 10px;

    background: linear-gradient(#000000, transparent 50%),
                linear-gradient(0deg, #000000, transparent 75%),
                url(https://cdn.wallpapersafari.com/57/33/Lbj8ls.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
}

.Title {
    margin-top: 0;
    text-align: center;
}

.Welcome {
    margin-top: 50px;
    font-size: 50px;
    font-weight: bolder;
    margin-left: -700px;
    color: rgba(255, 255, 255, 0.8)
}

.GreenPoints {
    margin-top: 50px;
    font-size: 100px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
}

#about {
  overflow: auto;
  background-color: #f2f2f2;
  text-align: left;
}

.su {
    padding: 60px;
    font-size: 50px;
    font-weight: lighter;
}

.box {
    font-size: 25px;
    line-height: 40px;
    color: #737373;
    text-align: left;
    margin: 105px 60px;
    margin-top: -50px;
}

.slogan {
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
}

.animate-pop-in-1 {
    animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    opacity: 0;
}

.nav {
    animation-delay: 0.2s;
}

.Welcome {
    animation-delay: 0.6s;
}

.GreenPoints {
    animation-delay: 0.8s;
}

.button {
    animation-delay: 1.1s;
}

.down {
  animation-delay: 1.5s;
}

@keyframes pop-in {
    0% {
      opacity: 0;
      transform: translateY(-4rem) scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
}

.nav {
    padding-top: 0;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
    position: sticky;
    top:0;
    z-index: 100;
  }
.nav a {
    color: rgba(121, 121, 121, 0.836);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.705);
  }

.navRight {
    float: right;
}

#icon {
    padding-left: 10px;
    padding-top: 5px;
    float: left;
    width: 50px;
    height: 50px;
 }

 .nav a:hover{
    color: black;
    background-color: white;
  }
