* {
  font-family: 'Raleway', sans-serif;
}

body {
  background: linear-gradient(#000000, transparent 75%),
              linear-gradient(0deg, #000000, transparent 75%),
              
              
              url(./landscape.jpg) no-repeat center;

  background-size: cover;
  background-attachment: fixed;
  color: rgba(255, 255, 255, 0.8);

  
}

footer {
  background-image: url(https://cdn.wallpapersafari.com/2/63/xcqYZ8.jpg);
  text-align: center;
}

.nav {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  background-color: rgba(0,0,0,.5);
}
.nav a {
  color: rgba(121, 121, 121, 0.836);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.705); 
}

.navRight {
  float: right;
}

.challenges {
  margin-top: 50px;
  text-align: center;
  width: 20%;
}

.challengenumbers {
  font-size: 20px;
}

.challengebar {
  margin: 0 auto;
  width: 480px;
  height: 20px;
  outline: 2px solid white;
}

.finishButton {
  width: 90px;
  background: rgba(0,0,0,0);
  border: none;
  border-radius: 10px;
  transition: width .5s;
  opacity: 1;
}

.finishButton:hover {
  width: 100px;
  opacity: 0.6;
}

.finishButton:active {
  width: 50px;
  opacity: 0;
}

#challengeprogress{
  margin-top: 10px;
  width: 1px;
  height: 20px;
  background-color: green;
}

#timer {
  padding-top: 30px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
}

.nav a:hover{
  color: black;
  background-color: white;
}

#title {
    color: green;
}

#pointcounter{
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
}

.greenPoints{
  text-align: center;
}

.pictures {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.profile {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 15px;
  display: inline-block;
}

.friendstitle {
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}

#icon {
  padding-left: 10px;
  padding-top: 5px;
  float: left;
  width: 50px;
  height: 50px;
}


#boxcontainer1, #boxcontainer2{
  margin: 0 auto;
  text-align: center;
}

#box1, #box2, #box3, #box4, #box5{
  margin: 30px;
  padding: 20px 40px 40px;
  width: 33.3%;
  background: rgba(255, 255, 255, 0);
  border-radius: 6px;
  display: inline-block;
  text-align: center;
}
