a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
a,
a:hover,
a:visited,
body,
html,
p {
  color: #02010a;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI', Roboto, 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 19px;
  line-height: 1.53rem;
}
footer,
header,
main,
section {
  margin: 1.53rem 0;
}
header,
main {
  max-width: 920px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}
main {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
ul {
  margin: 0 0 1.53rem 1.53rem;
  padding: 0;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: disc;
}
li {
  margin-bottom: 4px;
}
p {
  margin: 0 0 1.53rem 0;
  padding: 0;
}
a {
  text-decoration-color: #ce4257;
}
header {
  margin-top: calc(1.53rem * 2);
}
footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
small {
  font-size: 70%;
}
h1,
h2,
h3 {
  font-weight: 700;
  margin: 0 0 1.53rem 0;
  padding: 0;
}
h1 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0;
}
h2 {
  font-size: 1.52rem;
  line-height: 2.3rem;
}
h3 {
  font-size: 1.15rem;
  line-height: 1.53rem;
}
.post-title {
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.floaters {
  display: flex;
  flex-direction: row;
  left: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -45px;
}
.skip {
  font-weight: 700;
  text-indent: -9999px;
  text-transform: uppercase;
}
@media (min-width: 460px) {
  h1 {
    display: inline-block;
  }
  .post-title {
    display: inline-block;
    margin-left: 0.5rem;
  }
}
