:root {
    --text-color: #d8dee9;
    --color1: #4c566a;
    --color2: #434c5e;
    --color3: #3b4252;
    --color4: #2e3440;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gugi", cursive !important;
    color: var(--text-color);
    background-color: var(--color3) !important;
}

.fancy-text {
    background: -webkit-linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
}

#front_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fancySpan {
    opacity: 0;
    transition: all 0.6s ease;
    transform: translateY(50px);
    display: inline;
}

.fancySpan.fade {
    opacity: 1;
    transform: translateY(50px);
}

.fancy-text:hover {
    background: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.front_hello {
    font-size: 3rem;
    position: absolute;
    justify-content: center;
    top: 300px;
}

.front_Iam {
    font-size: 3rem;
    position: absolute;
    justify-content: center;
    top: 370px;
}

.intro {
    display: flex;
    color: var(--text-color);
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 50%;
    margin: -15% 0 0 -25%;
    font-size: 1.3rem;
}

.typing {
    position: relative;
    right: -10px;
    word-wrap: break-word;
    white-space: nowrap;
}

.typing::after {
    content: "";
    position: relative;
    width: 1px;
    right: -5px;
    height: 4%;
    border-right: 2px solid var(--text-color);
    animation: blink 0.8s infinite ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.indent {
    padding-left: 1%;
}

.point {
    padding-left: 0%;
}

#about {
    padding-left: 20%;
    padding-bottom: 10%;
    font-size: 20px;
    padding-right: 10%;
}

*:link {
    color: white;
}

*:visited {
    color: white;
}

.projects {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: var(--color2);
    color: var(--text-color);
}

/* Style the back side */
.flip-card-back {
    background-color: var(--color4);
    color: var(--text-color);
    transform: rotateY(180deg);
}

.Project_ScribeBot .flip-card-front {
    background-image: url(https://www.adkgamers.com/uploads/monthly_2018_01/discordemoji.png.d4595464f83db5678588ae9a56e2509a.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 70%;
    background-size: 40%;
}

.Project_PigLatin .flip-card-front {
    background-image: url("/beta/images/PigLatin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 70%;
    background-size: 80%;
}

.Project_StockPye .flip-card-front {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.flaticon.com%2Ficons%2Fpng%2F512%2F38%2F38802.png&f=1&nofb=1");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 70%;
    background-size: 50%;
}

.Project_Startpage .flip-card-front {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fe%2Fe6%2FHome_Icon.svg%2F768px-Home_Icon.svg.png&f=1&nofb=1");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 70%;
    background-size: 50%;
}

.Project_Blog .flip-card-front {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpng.pngtree.com%2Fsvg%2F20170110%2Fblog_1221727.png&f=1&nofb=1");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 70%;
    background-size: 50%;
}

.Project_Lost .flip-card-front {
    background-image: url("https://raw.githubusercontent.com/KaiSakurai/Lost-OmniHacks2019/master/Assets/Assests/Untitled_Artwork-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 70%;
    background-size: 100%;
}

.card-language {
    /* To fill empty space */
}

.flip-card-title {
    /* To fill empty space */
}

.flip-card-text {
    /* To fill empty space */
}

.flip-card-button {
    top: 60%;
    position: absolute;
    right: 43%;
    background-color: var(--color4);
    border: none;
    font-size: 3em;
    cursor: pointer;
    appearance: button;
    -webkit-appearance: button;
    -moz-appearance: button;
}

#Special-Button {
    right: 60%;
}

#Special-Button2 {
    right: 30%;
}

/* form animation starts */
.form {
    background: var(--color4);
    text-align: center;
    border-radius: 10px;
    width: 45%;
    height: 400px;
    margin: 30px auto 0 auto;
    padding: 10px 10px;
    animation: bounce 1.5s infinite;
}

.name {
    background-color: gray;
    border-bottom: 5px solid white;
    color: white;
    width: 300px;
}

::-webkit-input-placeholder {
    color: white;
    font-size: 20px;
}

.name:hover {
    background-color: var(--color1);
    border-bottom: 5px solid gray;
    height: 30px;
    width: 400px;
}

.email {
    background-color: gray;
    border-bottom: 5px solid white;
    height: 50px;
    width: 300px;

}

.email:hover {
    background-color: var(--color1);
    border-bottom: 5px solid gray;
    height: 30px;
    width: 380px;

}

.message {
    background-color: gray;
    border-bottom: 5px solid white;
    overflow: hidden;
    height: 100px;
    width: 300px;
}

.message:hover {
    background-color: var(--color1);
    border-bottom: 5px solid gray;
    height: 100px;
    width: 370px;
}

.submit {
    border-radius: 5px;
    padding: 10px;
    background-color: #2DD7BB;
    border: none;
    border-bottom: 5px solid #CB64B2;
    transform: translateY(-120px);

}

.submit:hover {
    border-bottom: 5px solid whitesmoke;
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
}

.entry {
    display: block;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease 0s;
}

/* Shadow to make it look like form is floating  */
.shadow {
    opacity: 0.5;
    border-radius: 100px;
    width: 50%;
    margin: 50px auto 0 auto;
    padding: 0 20px;
}

.submit {
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    color: white;
    background-color: #434c5e;
    border: none;
    border-bottom: 5px solid #3b4252;
    margin-top: 150px;

}

@media screen and (max-width: 500px) {
    .front_Iam {
        top: 50%;
    }

    .front_hello {
        top: 36%;
    }

    .fancy-text {
        margin-left: auto;
        margin-right: auto;
        top: 100%;
        margin-bottom: -10%;
        width: 6.5em;
        font-size: 300%;
    }

    .intro {
        display: flex;
        color: var(--text-color);
        justify-content: center;
        text-align: center;
        position: absolute;
        top: 100%;
        left: 50%;
        width: 50%;
        margin: -15% 0 0 -25%;
        font-size: 1.3rem;
    }

    .fancy-text-div {
        text-justify: auto;
        justify-content: center;
        display: flex;
    }

    .fancy-text {
        text-align: center;
        padding-top: 30vh;
        /* The same as your div height */
    }

    #about_section {
        padding-left: 0%;
        padding-right: 0%;
    }
}