:root {
    --text-color: #d8dee9;
    --color1: #4c566a;
    --color2:#434c5e;
    --color3: #3b4252;
    --color4: #2e3440; 
  }

body {
    font-family: 'Gugi', cursive !important;
    color: var(--text-color) !important;
    background-color: var(--color3) !important;
}