html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background: #2C3E50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

* {
  box-sizing: border-box;
}

a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #0426fd;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
  text-decoration: none;
}

a:hover {
  box-shadow: inset 250px 0 0 0 #54b3d6;
  color: white;
}

.content {
  text-align: center;
}

.home {
  margin-top: 20px;
    padding-left: 5%;
    margin-left: 20%;
    margin-right: 20%;
    padding-right: 5%;
    background: #98d8e3;
  overflow-y: hidden;
  border: black 4px solid;
  line-height: 24px;
}

@media only screen and (max-width: 600px) {
  .home {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 800px) {
  .home {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.header {
  margin-top: 20px;
}

.about {
  padding-top: 50px;
  text-align: start;
}

.about h1 {

}
