html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4ca1af,
    #2c3e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4ca1af,
    #2c3e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
  box-sizing: border-box;
}

a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #0426fd;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0s ease-in-out, box-shadow 0s ease-in-out;
  text-decoration: none;
}

a:hover {
  box-shadow: inset 250px 0 0 0 #54b3d6;
  color: white;
}

Link {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #0426fd;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0s ease-in-out, box-shadow 0s ease-in-out;
  text-decoration: none;
}

Link:hover {
  box-shadow: inset 250px 0 0 0 #54b3d6;
  color: white;
}

.content {
  text-align: left;
}

.pages {
  margin-top: 20px;
  padding-left: 5%;
  margin-left: 20%;
  margin-right: 20%;
  padding-right: 5%;
  background: #98d8e3;
  overflow-y: hidden;
  border: black 4px solid;
  line-height: 1.8;
  padding-bottom: 20px;
}

.header {
  padding-top: 20px;
  text-align: center;
}

.header img {
  width: 150px;
  box-shadow: 5px 5px #555;
}

.webring {
  overflow: hidden;
}

.webring iframe {
  overflow: hidden;
  user-select: none;
}

.nav-header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 56px;
  line-height: 56px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  text-align: center;
  vertical-align: middle;
  background-color: #98d8e3;
  z-index: 999;
}

nav {
  display: inline-block;
  padding: 0 10px;
}
nav a {
  display: inline-block;
  padding: 0 15px;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
}

.project-list {
  text-align: left;
}

.now-list {
  text-align: left;
}

.uses-list {
  text-align: left;
}

.social-icon:hover {
  box-shadow: inset 250px 0 0 0 #54b3d6;
  color: white;
}

.blog-title {
  text-align: center;
}

.blog p {
  font-size: 16px;
}

@media only screen and (max-width: 300px) {
  nav a {
    font-size: 11px;
  }
}

@media only screen and (max-width: 600px) {
  .pages {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 800px) {
  .pages {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.header {
  margin-top: 20px;
  line-height: 1.2;
}

.about {
  padding-top: 50px;
  text-align: start;
}
